* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #900C3F;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    padding-top: 2rem;
}

h4 {
    margin: 1rem 0rem 0.5rem;
}

.container {
    padding: 1rem 0rem;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    background-color: #ffffff;
    border-color: #900C3F;
}


