*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
nav{
    height: 10vh;
    background-color: #514E7F;
}
  
.navbar-collapse{
    justify-content: space-between;
}

.dropdown-color{
    background-color: #514E7F;
}


