main{
    position: relative;
    overflow: hidden;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}
  
input{
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: #dddddd;
    width: 20rem;
    outline: none;
    font-size: medium;
    font-weight: 600;
    color: #3A4148;
}
  
button{
    padding: 15px 40px;
    color: white;
    background-color: #900C3F;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    font-size: smaller;
}
  
h2{
    font-size: xx-large;
    font-weight: 800;
    color: #454143;
}
  
h6{
    color: red;
    display: none;
}

.cabecera{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    flex-wrap: wrap-reverse;
    position: relative;
    z-index: 2;
}
  
.cabecera img{
    max-width: 30rem;
    max-height: 30rem;
}
  
.login{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
 
.active{
    display: block;
}
  
.circulo{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    position: absolute;
    width: 100vw;
    height: 210vh;
    border-radius: 50%;
    transform: translate(-50vw, -100vh);
    z-index: 1;
}