{% extends 'base.html.twig' %}

{% block title %}Articulos{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/formularioArticulos.css">
{% endblock %}

{% block articulos %}active{% endblock %}

{% block main %}
    <h1>Nuevo artículo</h1>
    <form method="post" enctype="multipart/form-data" id="form-nuevoArticulo">
        <div class="area">
            <textarea id="introduccion" name="introduccion" placeholder="Escriba aquí la introduccíon de la película" MAXLENGTH=140 required>
            </textarea>
            <textarea id="argumento" name="argumento" placeholder="Escriba aquí el argumento de la película" MAXLENGTH=140 required>
            </textarea>
        </div>
        <div class="info">
            <label for="nombre">Titulo</label>
            <input type="text" id="nompeli" name="nompeli" SIZE=50 MAXLENGTH=50 required><br>
            <label for="director">Director</label>
            <input type="text" id="director" name="director" SIZE=50 MAXLENGTH=50 required><br>
            <label for="categoria">Categoria</label>
            <select id="categoria_id" name="categoria_id" required>
                <option value="1">Acción</option>
                <option value="2">Dramáticas</option>
                <option value="3">Terror</option>
                <option value="4">Comedias</option>
            </select><br>
            <label for="trailer">Trailer</label>
            <input type="url" id="trailerurl" name="trailerurl" placeholder="URL Trailer" SIZE=50 MAXLENGTH=290 required><br>
            <label for="foto">Imagen</label>
            <input type="file" id="fotourl" name="fotourl" accept="image/png, image/jpeg" required>
        </div>
    </form>
    <input form="form-nuevoArticulo" id="btn-crearArticulo" type="submit" value="Crear artículo">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/js/añadirArticulo.js"></script>
{% endblock %}

