{% extends 'base.html.twig' %}

{% block head %} 
    {{ parent() }}
    <link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block title %}Inicio{% endblock %}

{% block home %}active{% endblock %}

{% block main %}
    <div class="cabecera">
        <div class="texto">
            <h1>BIENVENIDOS A <br><span>PELICULEROS</span></h1>
        </div>
        <div>
                <img src="img_web/cabecera.svg" alt="cine">
        </div>
    </div>
{% endblock %}
